@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.hero {
    background: url(https://wallpapercave.com/wp/wp4069456.jpg);
    height: 50vh;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #fff;
    font-family: Arial, sans-serif;
}
.bg_container {
    color: #391E04;
}

.main_container {
    background-color: #F9BEFD;
    padding: 5px;
}
.image {
    height: 25vh;
    width: 20vh;
    padding: 5px;
}
.about {
    padding: 5px;
}
.about_container {
    padding: 2px;
}
section {
    padding: 100px 0;
    background-color: #f9f9f9;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
